In [1]:
print('안녕하세요')
print(100)

안녕하세요
100

In [2]:
# 변수 => 데이터를 저장(메모리: 플래시메모리)하는 방식
# 변수이름(식별자) = 값(데이터: 숫자, 문자열, 논리값(True, False), 객체
# 변수에는 데이터를 저장하고 있는 메모리의 주소값을 저장
num = 10

In [3]:
print(num)

10

In [4]:
id(num) #주소값반환

4355189464

In [5]:
num+100

110

In [6]:
# 변수 = 데이터
# 데이터 => 숫자, 문자, 논리값
# 숫자 => 정수, 실수
num1 = 10
num2 = 3.14

In [7]:
type(num1)

int

In [8]:
type(num2)

float

In [9]:
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [10]:
num3 = 'hello!'

In [11]:
print(num3)
print(type(num3))

hello!
<class 'str'>

In [12]:
# 논리값: 참/거짓 => True, False (대문자!!)
check1 = True
check2 = False

In [13]:
print(check1)
print(check2)
print(type(check1),type(check2))

True
False
<class 'bool'> <class 'bool'>

In [14]:
str_a = 'python'

In [15]:
str_a.upper()
# 주소값.메서드

'PYTHON'

In [16]:
str_a = 100

In [17]:
print(str_a, type(str_a))

100 <class 'int'>

In [18]:
# 문자열 생성'
# '', "", ''' ''', """ """
str1 = 'hello!'
str2 = "안녕하세요"
str3 = '''
안녕하세요,
반갑습니다.
'''
str4 = """
select *
from emp
where empno=10
"""

In [19]:
print(str1, type(str1))
print(str2, type(str2))
print(str3, type(str3))
print(str4, type(str4))

hello! <class 'str'>
안녕하세요 <class 'str'>

안녕하세요,
반갑습니다.
 <class 'str'>

select *
from emp
where empno=10
 <class 'str'>

In [20]:
# 문자열의 연산 
# 사칙연산 X => 더하기(연결)
# 곱셈 * => 반복(몇번 반복)
print('hello' + ' python!')
print('=' *10)

hello python!
==========

In [21]:
# 함수(기능): 데이터를 전달하면 -> 처리(연산) -> 값을 반환
# 문자열의 길이(문자들의 개수) 반환 함수: len(변수: 시퀀스형식의 데이터)
print(len(str1))
print(len(str2))
print(len(str3))
print(len(str4))

6
5
15
34

In [22]:
# 문자열: 시퀀스 데이터 순서 O
# 시퀀스 데이터의 데이터들의 구분 => index 값
# hello => ['h', 'e', 'l', 'l', 'o']
# index => 0부터 시작 0 1 2 3 4  => 0 ~ N-1 => 0 ~ 4
str5 = 'hello~ python!!'
#       0123456789...

In [23]:
str5[0] # index 값 실행, 특정 위치 값 가져오기

'h'

In [24]:
# 문자열(시퀀스)의 슬라이싱
# s[시작 index : 종료 index] => 종료 index 값을 만나면 끝.
# str5[0 : 5] 5를 만나면 탈출함 4까지만 출력한다는 의미
str5[0:5]

'hello'

In [25]:
# 문자열 포맷팅
# 3.6 버전 이후 f'', 접두사 f 붙이고 포맷팅
user_name = '손흥민'
user_age = 30
print(f'안녕하세요, 저는 {user_name}입니다. 나이는 {user_age} 입니다.')

안녕하세요, 저는 손흥민입니다. 나이는 30 입니다.

In [26]:
print(f'내년에는 나이가 {user_age+1}살이 됩니다.')

내년에는 나이가 31살이 됩니다.

In [27]:
# 복합 대입 연산
num = 1

In [28]:
num = num + 1 # +가 1번, =이 2번 대입연산이 무조건 마지막 처리임 !!!

In [29]:
print(num)

2

In [30]:
num += 1 # num = num + 1과 같음

In [31]:
print(num)

3

#### 연습문제 1
과목별 점수, 총점, 평균 점수

과목: 국어, 영어, 수학

In [32]:
# 1. 변수 선언, 초기화
kor_score = 100     # 국어점수
eng_score = 70      # 영어점수
math_score = 80     # 수학점수

In [33]:
# 2. 연산: 총점, 평균
sum_score = kor_score + eng_score + math_score
avg_score = sum_score / 3

In [34]:
# 3. 결과 출력
print(f'국어점수: {kor_score}, 영어점수: {eng_score}, 수학점수: {math_score}\n총점: {sum_score}\n평균: {avg_score}')

국어점수: 100, 영어점수: 70, 수학점수: 80
총점: 250
평균: 83.33333333333333

#### 연습문제 2
성별 체크, 나이 체크

성별이 남성이고(and), 성인 판별 (18세 이상)

In [35]:
# 성별이 남자이고 18세 이상의 성인 여부를 판단하는 조건식
# 1. 변수
gender = 'M'    # 성별: 'M' | 'F'
age = 15

# if 조건문
if gender == 'M' and age >= 18:
    print('남성이고 18세 이상의 성인입니다.')
else:
    print('남성이 아니거나 18세 이하 입니다.')

남성이 아니거나 18세 이하 입니다.

In [36]:
# 2. 남성 그리고 성인
check = gender == 'M' and age >= 18
print('성인 남성 체크:', check)

성인 남성 체크: False

### 리스트 2025.06.10

In [37]:
# 리스트: [] => 순서를 가지는 데이터 묶음
# index 값으로 요소들을 참조 => 0 ~ N(요소의 개수)-1
list_a = [1,2,3]
# index   0,1,2
# 요소의 개수: 3

In [38]:
print(list_a, type(list_a))

[1, 2, 3] <class 'list'>

In [39]:
# bool(), int(), float(), str(), list()

In [40]:
# 요소의 참조
list_a[2]

3

In [41]:
# 리스트 값 변경
list_a[2] = 4

In [42]:
list_a

[1, 2, 4]

In [43]:
list_a[0] + list_a[1]

3

In [44]:
list_a[-1] # 문자열 마지막부터

4

In [45]:
len(list_a)-1 # N-1

2

In [46]:
list_a[len(list_a)-1] # 마지막 인덱스를 찾아주는 수식

4

In [47]:
list_b = [1, 2, 3, ['a', 'b', 'c']]
#         0  1  2         3
#       int int int    list

In [48]:
len(list_b)

4

In [49]:
print(list_b[0])
print(list_b[1])
print(list_b[2])
print(list_b[3])  # list
print(list_b[3][0]) # list 안에 list => list의 중첩
print(list_b[3][1])
print(list_b[3][2])
#   list를 가지는 주소값[index]

1
2
3
['a', 'b', 'c']
a
b
c

In [50]:
# 슬라이싱
list_c = [1, 2, 3, 4, 5]

In [51]:
print(list_c[0:4])
print(list_c[:])
print(list_c)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [52]:
# list의 연산: +, *
list_d = [100, 200, 300]

In [53]:
list_c
list_d
print(list_c + list_d)
print(list_d + list_c)

[1, 2, 3, 4, 5, 100, 200, 300]
[100, 200, 300, 1, 2, 3, 4, 5]

In [54]:
# *: 리스트의 요소를 n번 반복
print(list_d * 3)
print(list_c * 2)

[100, 200, 300, 100, 200, 300, 100, 200, 300]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [55]:
# 리스트에 요소(데이터) 추가: 순서 => 마지막 인덱스 다음 데이터 추가
# append(): 메서드 => 리스트의 마지막에 데이터 추가
list_a = [1, 2, 3, 7, 4, 8]

In [56]:
list_a.append(500)
# 객체(list) ()안에 요소를 맨 뒤에 추가함

In [57]:
# pop: 마지막 요소 축출 -> 삭제, 값을 반환
# 기본값은 -1
list_a.pop(0)

1

In [58]:
list_a

[2, 3, 7, 4, 8, 500]

In [59]:
# 정렬
list_a = [1, 2, 3, 7, 4, 8]
list_a.sort()
list_a

[1, 2, 3, 4, 7, 8]

In [60]:
# 반대 정렬
list_a.reverse()
list_a

[8, 7, 4, 3, 2, 1]

In [61]:
# index(): 특정 데이터 위치 찾아줌
list_a.index(2) # 2라는 숫자가 4안댁스에 위치함

4

In [62]:
# extend(): 확장하는 것, '+' 와의 차이 = > extend는 원본 데이터도 변경
# 원본 데이터는 유지하고 싶으면 '+' 활용
list_a.extend(list_d)

In [63]:
list_a

[8, 7, 4, 3, 2, 1, 100, 200, 300]

In [64]:
# tuple: list와 동일
# 단 요소(데이터) 변경은 불가능 -> 데이터 안전하게 유지
t_1 = ()
print(type(t_1))

<class 'tuple'>

In [65]:
t_2 = (1, 2, 3, 4)
t_3 = 10, 20, 30, 40
# 괄호 생략 가능 !

In [66]:
type(t_3)

tuple

In [67]:
t_2[0]

1

In [68]:
t_2[0] = 100
# 에러 발생 <튜플은 할당되지 않음(변경)>

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 튜플 슬라이싱
t_3[1:3]

(20, 30)

In [ ]:
a, b, c = 1000, 2000, 3000 # 특정함수에서 반환 데이터 tuple 타입

In [ ]:
print(a, b, c)

1000 2000 3000

In [ ]:
# 딕셔너리: key : value => key 값으로 데이터를 참조
# {key1 : value1, key2 : value2, ...}

dict_1 = {}
print(type(dict_1))
dict_1

<class 'dict'>

{}

In [ ]:
dict_2 = {1: 'a'}
print(dict_2)
print(type(dict_2))

{1: 'a'}
<class 'dict'>

In [ ]:
# 요소 값 추가 => key 정의, 값 정의
dict_2[2] = 'b'
dict_2

{1: 'a', 2: 'b'}

In [ ]:
dict_2[3] = (1, 2, 3)
dict_2

{1: 'a', 2: 'b', 3: (1, 2, 3)}

In [ ]:
# 값 삭제
del dict_2[3]
dict_2

{1: 'a', 2: 'b'}

In [ ]:
# 학생: 학번, 이름, 학년, 학과 => 데이터의 구조화

student_1 = {
    's_no' : 1111,
    's_name' : 'KING',
    'grade' : 4,
    'major' : 'COM'
}

In [ ]:
student_1['s_name']

'KING'

In [ ]:
player = {
    'team' : 'TOT',
    'name' : 'SON',
    'number' : 7
}

In [ ]:
# key 형식 반환
player.keys()

dict_keys(['team', 'name', 'number'])

In [ ]:
list(player.keys())

['team', 'name', 'number']

In [ ]:
# value 값 반환
player.values()

dict_values(['TOT', 'SON', 7])

In [ ]:
list(player.values())

['TOT', 'SON', 7]

In [ ]:
# player 안에 'name' key 존재 여부"
print('name' in player)
print('names' in player)

True
False

In [ ]:
# 각 각의 요소가 튜플형식으로 반환
player.items()

dict_items([('team', 'TOT'), ('name', 'SON'), ('number', 7)])

In [ ]:
list_temp = list(player.items())

In [ ]:
list_temp

[('team', 'TOT'), ('name', 'SON'), ('number', 7)]

In [ ]:
player['number']

7

In [ ]:
player.get('name')

'SON'

In [ ]:
player.get('pos')
# 값이 없다면 반환하지 않음

In [ ]:
pos = player.get('pos')
print(pos)

None

In [ ]:
pos1 = player.get('pos', 'no pos')

In [ ]:
print(pos1)

no pos

In [ ]:
# set: 집합 => 중복x, 순서x, 집합 연산 사용

s_1 = set([1, 2, 3, 4, 1, 2, 5])
s_1

{1, 2, 3, 4, 5}

In [ ]:
set_2 = set('hello')
set_2

{'e', 'h', 'l', 'o'}

In [ ]:
# 중복되는거 제외하고 리스트로 반환
list_1 = list(s_1)
list_1

[1, 2, 3, 4, 5]

In [ ]:
set_2 = set([1,2,3,4,5,6])
set_3 = set([4,5,6,7,8,9])

In [ ]:
print(set_2 & set_3)
print(set_2 | set_3)
print(set_2 - set_3)
print(set_3 - set_2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}

In [ ]:
# set 에서 데이터 추가(중복 데이터 입력 X) 삭제
set_2.add(3)
set_2   # 3을 이미 가지고 있었기 때문에 입력되지 않음

{1, 2, 3, 4, 5, 6}

In [ ]:
set_2.remove(6)

In [ ]:
set_2.update([1,1,3,4,7,8])
set_2

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
# if: 분기 => ~라면, 아니라면
# 성인이라면, 성인이 아니라면

age = 15

# 성인이라면 -> 환영 메시지, 미성년 -> 킥
if age >=15:
    print('환영합니다~~!')
    print('게임을 시작하세요!')
else:
    print('킥~~')

환영합니다~~!
게임을 시작하세요!

In [ ]:
# 홀수, 짝수 판단 => 숫자 % 2: 1-> 홀수, 0-> 짝수

num = 10
if num % 2 == 0:
    print('짝수')
else:
    print('홀수')

짝수

In [ ]:
# 양수 +, => num1 > 0
# 음수 -,  => num1 < 0
# 0 => num == 0 => num1이 0보다 작지도 크지도 않다

num1 = -10

if num1 > 0:
    print('양수')
elif num1 < 0:
    print('음수')
else:
    print('0')

음수

In [ ]:
print('양수' if num1 > 0 else '음수' if num1 < 0 else '0')

음수

In [ ]:
# 운전면허 시험
score = 70

check_msg = 'PASS' if score >=80 else 'FAIL'
print(check_msg)

FAIL

In [ ]:
# 기본값을 만들고, 바뀌는 형식
check_msg = 'PASS'
if score < 80:
    check_msg = 'FAIL'

print(check_msg)

FAIL

In [ ]:
# 표준 출력 함수 => print()
# 표준 입력 함수 => input()

user_name = input('이름을 입력하세요!')
print(user_name, type(user_name))

ㅇ <class 'str'>

In [ ]:
# 정수형식으로 변환 int
user_age = int(input('나이를 입력하세요!'))
print(user_age, type(user_age), 2025-user_age)

33 <class 'int'> 1992

In [ ]:
age = 43

if age < 15 or age >=65:
    print('무료 예방접종 가능!')
else:
    print('무료 접종 대상이 아닙니다.')

무료 접종 대상이 아닙니다.

In [ ]:
print('무료접종 가능' if age < 15 or age >= 65 else '무료접종 불가')

무료접종 불가

In [ ]:
# 반복문: while condition(True/False): 
# 조건식을 통해서 반복 -> 탈출이 가능해야한다.!

cnt = 0

while cnt < 5:
    cnt += 1
    print(cnt)

1
2
3
4
5

In [ ]:
# 1 ~ 10까지 출력, 홀수만 출력

cnt = 0
while cnt < 10 :
    cnt += 1
    if cnt % 2 == 1:
        print(cnt)

1
3
5
7
9

In [ ]:
cnt = 0
while cnt < 10 :
    cnt += 1
    
    if cnt % 2 == 0:
        continue
    print(cnt)

1
3
5
7
9

In [ ]:
# for문

list_a = [1,2,3,4,5,100,200,300]

for i in list_a:
    print(i)

1
2
3
4
5
100
200
300

In [ ]:
list_b = [(1,2), (3,4), (5,6)]

for n1, n2 in list_b:
    print(n1, n2)

1 2
3 4
5 6

In [ ]:
# 5명의 학생이 영어 시험 => 60점 이상은 pass 출력
# 5명의 영어점수 총점, 평균

scores = [80, 50, 70, 100, 55]
num = 0     # 학생 리스트의 일련번호
sum = 0     # 총점

for score in scores:
    # 학생의 점수를 비교해서: pass, fail
    # 리스트의 일련번호 출력: num = num + 1
    num += 1
    sum += score
    if score >= 60:
        print(num, score, 'PASS')
    else:
        print(num, score, 'Fail')

print('총점:', sum)
print('평균:', sum/len(scores))

1 80 PASS
2 50 Fail
3 70 PASS
4 100 PASS
5 55 Fail
총점: 355
평균: 71.0

In [ ]:
for num in range(3, 8):
    print(num, end='')

34567

In [ ]:
# 구구단: 2 ~ 9단 => 2 ~ 9
# 각 단: X1 ~ X9 => 1 ~ 9

for dan in range(2, 10):
    print(f'{dan}단')
    for i in range(1, 10):
        print(f'{dan}X{i}={dan*i}', end='\n')
    print()

2단
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

3단
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27

4단
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36

5단
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45

6단
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54

7단
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63

8단
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72

9단
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [ ]:
# 리스트 컴프리헨션
# [표현식 for 변수 in list if 조건식]

list_2 = [1,2,3,4]

# 결과 리스트
list_result = []
for num in list_2:
    
    print(list_result)

[3, 6, 9, 12]

In [70]:
list_result_1 = [num*3 for num in list_2]
list_result_1

[3, 6, 9, 12]

#### 문제1

In [79]:
total = 0

for i in range(1,101):
    total += i
print(total)

5050

#### 문제2

In [82]:
total_1 = 1

for i in range(1, 11):
    total_1 *= i
print(total_1)

3628800

#### 문제3

In [105]:
for dan in range(2, 10, 2):
    print(f'{dan}단')
    for i in range(1, dan + 1):
        print(f'{dan}X{i}={dan*i}')
    print()

2단
2X1=2
2X2=4

4단
4X1=4
4X2=8
4X3=12
4X4=16

6단
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36

8단
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64

#### 문제4

In [110]:
num = 1
total_2 = 0

while total_2 <= 1000:
    if num % 2 == 0 or num % 3 == 0:
        total_2 += num
    num += 1

print(f'합이 1000을 넘는 순간: {num - 1}, 총합: {total_2}')

합이 1000을 넘는 순간: 56, 총합: 1055

In [ ]:
num = 1
sum = 0

while True:
    if num % 2 == 0 or num % 3 == 0:
        sum += num
        if sum > 1000:
            num += 1
            break
    print(f'합이 1000을 넘는 순간: {num - 1}, 총합: {total_2}')

#### 검진 대상자 판별 문제

In [115]:
# 검진 대상자 판별
# 20세 이상, 짝수년도에는 짝수 년생들이 대상
# 40세 이상 암 검진 대상
# 올해 년도, 태어난 년도

year = 2025
birth_year = 1985
age = year - birth_year
print(age)

if age >= 20 and birth_year % 2 == year % 2:
    print('검진 대상자 입니다.')
    if age >= 40:
        print('암 검진 대상자 입니다.')
    else:
        print('검진 대상자가 아닙니다.')

40
검진 대상자 입니다.
암 검진 대상자 입니다.

In [120]:
for dan in range(2,10):
    print(f'{dan}단')
    for i in range(1,10):
        print(f'{dan}X{i}={dan*i}')
    print()

2단
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

3단
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27

4단
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36

5단
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45

6단
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54

7단
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63

8단
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72

9단
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

### 함수 2025.06.11

In [122]:
# 함수: 데이터를 받고, 처리(연산)하고 결과를 반환하는 코드들의 묶음
#       -> 호출을 통해 코드를 실행
# 중복코드를 줄일 수 있다. => 유지보수, 관리가 수월해진다!
# def 함수이름(매개변수, 매개변수, 매개변수, ...)
#   처리작업 코드들..
#   return 값(data: 파이썬에서 제공하는 타입의 모든 데이터)
# ~~ 위 규칙은 변하지 않음!!!!!!!

In [ ]:
# 함수정의
# 숫자 두 개를 받아 => 매개변수: 선택사항
# 덧셈연산을 하고   => 내부 처리 작업
# 결과 값을 반환    => 반환 값: 선택사항

def add(n1, n2):        # 함수 정의: 이름, 매개변수
    result = n1 + n2    # 연산, 처리, 작업
    return result       # 결과 값 반환

In [141]:
print(type(add))

<class 'function'>

In [ ]:
add(10, 20)     # 호출: 이름과 괄호안에() 매개변수가 받을 수 있는 데아터를 함께 전달

30

In [142]:
add(10,30)

40

In [143]:
def alert_msg():
    return '안녕하세요. 회원님 감사합니다.'

In [145]:
print(alert_msg())

안녕하세요. 회원님 감사합니다.

In [148]:
# 매개변수는 있고, 반환값이 없는 함수
# 숫자 두개를 받아 덧셈연산의 결과를 출력하는 함수

def add_print(n1, n2):
    result = n1 + n2
    print(f'{n1}+{n2}={n1+n2}')

In [149]:
add_print(1,2)

1+2=3

In [150]:
result_add_print = add_print(10, 200)

10+200=210

In [152]:
print(result_add_print)

None

In [158]:
# 매개변수도 없고, 반환도 없는 함수

def display_menu():
    menu = '''
1. 아메리카노
2. 라떼
3. 에스프레소
'''
    print(menu)

In [159]:
display_menu()

1. 아메리카노
2. 라떼
3. 에스프레소

In [167]:
def sub(n1, n2):
    return n1 - n2

In [170]:
sub(n2 = 3, n1 = 10)

7

In [178]:
# 매개변수를 지정하고 값을 넣어줌
print('KING', 'hello', sep='\t', end='\t')
print('KING', 'hello', sep=',')

KING	hello	KING,hello

In [180]:
# 매개변수가 여러개인데 몇개인지 몰라 ?!

print('king')
print(1,2,3,4,5)

king
1 2 3 4 5

In [188]:
# 매개변수에서 전달되는 숫자들(몇개?)을
# 모두 더한 값을 
# 반환하는 함수

def add_sum(*args):
    print(type(args))
    print(args)
    sum = 0
    for num in args:
        sum += num
    return sum

In [190]:
add_sum(1,2,3,4,5,6,7,8,9)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [191]:
# 연산의 타입을 전달 받고 전달되는 숫자들의 
# 연산한 결과를 
# 반환하는 함수

def add_type(type, *args):
    if type == 'add':
        result = 0
        for num in args:
            result += num
        return result
    elif type == 'mul':
        result = 1
        for num in args:
            result *= num
        return result
    else:
        print('사용가능한 타입을 선택해주세요!')

In [199]:
print(add_type('add', 1,2,3,4,5,6,7))
print(add_type('mul', 1,2,3,4,5,6,7))

28
5040

In [206]:
def print_args(**args):
    print(args)
    print(type(args))

In [207]:
print_args(name='손흥민', age = 20)

{'name': '손흥민', 'age': 20}
<class 'dict'>

In [212]:
player1 = {
    'name' : '손흥민',
    'age' : 20
}

In [216]:
player2 = print_args(name = '손흥민', age = 30)

{'name': '손흥민', 'age': 30}
<class 'dict'>

In [217]:
print(player1)
print(player2)

{'name': '손흥민', 'age': 20}
None

In [1]:
def add_mul_return(n1, n2):
    add_result = n1 + n2
    mul_result = n1 * n2
    return(add_result, mul_result)

In [2]:
add_mul_return(10, 20)

(30, 200)

In [3]:
result1, result2 = add_mul_return(10, 20)
print(result1, result2)

30 200

In [ ]:
# 매개변수의

In [4]:
# 이름, 나, 성별 받아서 출력 함수
def say_hi(name, age, gender = True): # Gender=True => 여성
    print(f'안녕하세요. 저는 {name} 입니다. 나이는 {age} 입니다.')
    if gender:
        print('여성입니다.')
    else:
        print('남성입니다.')

In [8]:
say_hi('손흥민', 30, False)

안녕하세요. 저는 손흥민 입니다. 나이는 30 입니다.
남성입니다.

In [ ]:
# 변수의 사용 범위

a = 1

def var_test(a):    # 지역변수가 우선!
    print('함수 내부의 a:', a)

In [21]:
var_test(10)

함수 내부의 a: 10

In [22]:
print(a)

1

In [29]:
# 같은 이름이면 외부 a로 실행됨 
def var_test2():
    global a    # 전역변수를 사용할 때
    a = a + 1
    print(a)

In [30]:
var_test2()

3

In [31]:
print(a)

3

In [32]:
# lambda 함수 => 한줄로 간단하게 표현하는 함수 표현식
# 함수이름 = lambda arg1, arg2 ... : 연산
# 숫자 두개를 전달받아 덧셈한 결과를 반환하는 함수

add3 = lambda n1, n2 : n1+n2
add3(100,10)

110

In [33]:
# 내장함수: 파이썬 설치 -> 기본으로 제공하는 함수

st_names = ['king', 'cool', 'hot', 'scott']

In [36]:
# 학생들의 index 값을 함께 출력

num = 0

for name in st_names:
    print(num, name)
    num += 1

0 king
1 cool
2 hot
3 scott

In [38]:
for index, name in enumerate(st_names, start=1):
    print(index, name)

1 king
2 cool
3 hot
4 scott

In [40]:
# filter: 필터링(매개변수로 전달되는 함수: 요소 값을 판단해서 논리값 반환)을 통해 새로운 리스트를 생성 반환
# filter(fn, itr)
def positive(l):
    result = []
    for n in l:
        if n > 0:
            result.append(n)
    return result

In [41]:
print(positive([3,1,-1,-3,0,9,10,4]))

[3, 1, 9, 10, 4]

In [42]:
# filter
# 판별함수
def positive_fn(x):
    return x > 0

In [47]:
list(filter(positive_fn, [3,1,-1,-3,0,9,10,4]))

[3, 1, 9, 10, 4]

In [51]:
# 홀수만 출력
def pos_fn2(x):
    return x % 2 == 1

In [52]:
list(filter(pos_fn2, [3,1,-1,-3,0,9,10,4]))

[3, 1, -1, -3, 9]

In [53]:
list(filter(lambda x : x > 0, [3,1,-1,-3,0,9,10,4]))

[3, 1, 9, 10, 4]

In [56]:
# map이 새로운 값을 만듬
list(map(lambda x: x*2, [1,2,3,4,5]))

[2, 4, 6, 8, 10]

In [66]:
# 파이썬의 입출력(자원)
# 표준 입출력 => input, print
# 텍스트 파일(자원): 입출력 I/O
# 파일 단위 입출력: Open(자원의 경로, 모드) 모드 => r(read), w(write), a(append)

f = open('new_text.txt', 'w')
f.close()

In [77]:
f = open('new_text.txt', 'w')   # 1. 파일 오픈: w
f.write('안녕하세요!')             # 2. 텍스트 쓰기
f.close()

In [9]:
f = open('new_text.txt', 'w')  
for i in range(1, 11):
    f.write(f'{i}번째 줄 입력\n')
f.close()

In [10]:
# 파일 내용 읽어오기
f = open('new_text.txt', 'r')
line1 = f.readline()
print(line1)
line2 = f.readline()
print(line2)
f.close()

1번째 줄 입력

2번째 줄 입력

In [11]:
# 파일 내용 읽어오기
f = open('new_text.txt', 'r')

while 1:
    line = f.readline()
    if not line:
        break
    print(line, end='')
f.close()

1번째 줄 입력
2번째 줄 입력
3번째 줄 입력
4번째 줄 입력
5번째 줄 입력
6번째 줄 입력
7번째 줄 입력
8번째 줄 입력
9번째 줄 입력
10번째 줄 입력

In [16]:
f = open('new_text.txt', 'r')
lines = f.readlines()
print(lines)
for line in lines:
    print(line, end = '')
f.close()

['1번째 줄 입력\n', '2번째 줄 입력\n', '3번째 줄 입력\n', '4번째 줄 입력\n', '5번째 줄 입력\n', '6번째 줄 입력\n', '7번째 줄 입력\n', '8번째 줄 입력\n', '9번째 줄 입력\n', '10번째 줄 입력\n', '새로운 행이 추가 됩니다.새로운 행이 추가 됩니다.\n', '새로운 행이 16가 추가 됩니다.\n', '새로운 행이 17가 추가 됩니다.\n', '새로운 행이 18가 추가 됩니다.\n', '새로운 행이 19가 추가 됩니다.\n', '새로운 행이 20가 추가 됩니다.\n']
1번째 줄 입력
2번째 줄 입력
3번째 줄 입력
4번째 줄 입력
5번째 줄 입력
6번째 줄 입력
7번째 줄 입력
8번째 줄 입력
9번째 줄 입력
10번째 줄 입력
새로운 행이 추가 됩니다.새로운 행이 추가 됩니다.
새로운 행이 16가 추가 됩니다.
새로운 행이 17가 추가 됩니다.
새로운 행이 18가 추가 됩니다.
새로운 행이 19가 추가 됩니다.
새로운 행이 20가 추가 됩니다.

In [14]:
# append: 데이터 추가
f = open('new_text.txt', 'a')
f.write(f'새로운 행이 추가 됩니다.\n')
f.close()

In [15]:
# append: 데이터 추가
f = open('new_text.txt', 'a')
for i in range(16, 21):
    f.write(f'새로운 행이 {i}가 추가 됩니다.\n')
f.close()

In [ ]:
# close 생략 가능한 구현 => with
with open('new_text.txt', 'r') as file:
    lines = file.readlines()
    print(lines)

['1번째 줄 입력\n', '2번째 줄 입력\n', '3번째 줄 입력\n', '4번째 줄 입력\n', '5번째 줄 입력\n', '6번째 줄 입력\n', '7번째 줄 입력\n', '8번째 줄 입력\n', '9번째 줄 입력\n', '10번째 줄 입력\n', '새로운 행이 추가 됩니다.새로운 행이 추가 됩니다.\n', '새로운 행이 16가 추가 됩니다.\n', '새로운 행이 17가 추가 됩니다.\n', '새로운 행이 18가 추가 됩니다.\n', '새로운 행이 19가 추가 됩니다.\n', '새로운 행이 20가 추가 됩니다.\n']

In [28]:
# 예외처리: 에러 발생 시에 비정상적인 종료를 막기 위한 처리

try:
    print(10/5)
except:
    print('에러가 발생했습니다. 에러에 대한 처리를 합니다.')

print('프로그램을 종료합니다.')

2.0
프로그램을 종료합니다.

In [30]:
list_t = [1,2,3,4,5]

In [32]:
try:
    print(10/2)
    print(list_t[10])   # <=====
except ZeroDivisionError:
    print('0으로 나누는 연산은 불가능합니다.')
except NameError:
    print('정의되지 않은 식별자 입니다.')
except IndexError:
    print('리스트의 index 범위에서 벗어납니다.')
except:
    print('에러발생!!!')

5.0
리스트의 index 범위에서 벗어납니다.

In [33]:
# try: except: finally: -> 에러 발생여부와 상관없이 실행되어야 하는 블록
try:
    print('hello')
    print(10/0)
except:
    print('error!!')
finally:
    print('!!!!!')

hello
error!!
!!!!!

In [ ]:
try:
    age = int(input('나이를 입력하세요.'))
except:
    print('숫자 형식으로 입력해주세요!')
else:
    if age > 18:
        print('입장')
    else:
        print('불가')

입장

In [36]:
# 사용자 정의 예외 타입 정의
# 논리적인 오류 발생 -> 예외로 처리
# age => 음수, 500: 논리적 오류

class MyError(Exception):
    pass

In [38]:
try:
    age = int(input('나이를 입력하세요.'))
    if age < 1 or age > 200:
        raise MyError()
    
except MyError:
    print('나이의 입력 범위는 1 ~ 200 까지 입니다.\n다시 입력하세요!')
except:
    print('다시 입력하세요!')
else:
    print(age)

13