In [1]:
print('안녕하세요')
print(100)

안녕하세요
100

In [2]:
# 변수 => 데이터를 저장(메모리: 플래시메모리)하는 방식
# 변수이름(식별자) = 값(데이터: 숫자, 문자열, 논리값(True, False), 객체
# 변수에는 데이터를 저장하고 있는 메모리의 주소값을 저장
num = 10

In [3]:
print(num)

10

In [4]:
id(num) #주소값반환

4355189464

In [5]:
num+100

110

In [6]:
# 변수 = 데이터
# 데이터 => 숫자, 문자, 논리값
# 숫자 => 정수, 실수
num1 = 10
num2 = 3.14

In [7]:
type(num1)

int

In [8]:
type(num2)

float

In [9]:
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [10]:
num3 = 'hello!'

In [11]:
print(num3)
print(type(num3))

hello!
<class 'str'>

In [12]:
# 논리값: 참/거짓 => True, False (대문자!!)
check1 = True
check2 = False

In [13]:
print(check1)
print(check2)
print(type(check1),type(check2))

True
False
<class 'bool'> <class 'bool'>

In [14]:
str_a = 'python'

In [15]:
str_a.upper()
# 주소값.메서드

'PYTHON'

In [16]:
str_a = 100

In [17]:
print(str_a, type(str_a))

100 <class 'int'>

In [18]:
# 문자열 생성'
# '', "", ''' ''', """ """
str1 = 'hello!'
str2 = "안녕하세요"
str3 = '''
안녕하세요,
반갑습니다.
'''
str4 = """
select *
from emp
where empno=10
"""

In [19]:
print(str1, type(str1))
print(str2, type(str2))
print(str3, type(str3))
print(str4, type(str4))

hello! <class 'str'>
안녕하세요 <class 'str'>

안녕하세요,
반갑습니다.
 <class 'str'>

select *
from emp
where empno=10
 <class 'str'>

In [20]:
# 문자열의 연산 
# 사칙연산 X => 더하기(연결)
# 곱셈 * => 반복(몇번 반복)
print('hello' + ' python!')
print('=' *10)

hello python!
==========

In [21]:
# 함수(기능): 데이터를 전달하면 -> 처리(연산) -> 값을 반환
# 문자열의 길이(문자들의 개수) 반환 함수: len(변수: 시퀀스형식의 데이터)
print(len(str1))
print(len(str2))
print(len(str3))
print(len(str4))

6
5
15
34

In [22]:
# 문자열: 시퀀스 데이터 순서 O
# 시퀀스 데이터의 데이터들의 구분 => index 값
# hello => ['h', 'e', 'l', 'l', 'o']
# index => 0부터 시작 0 1 2 3 4  => 0 ~ N-1 => 0 ~ 4
str5 = 'hello~ python!!'
#       0123456789...

In [23]:
str5[0] # index 값 실행, 특정 위치 값 가져오기

'h'

In [24]:
# 문자열(시퀀스)의 슬라이싱
# s[시작 index : 종료 index] => 종료 index 값을 만나면 끝.
# str5[0 : 5] 5를 만나면 탈출함 4까지만 출력한다는 의미
str5[0:5]

'hello'

In [25]:
# 문자열 포맷팅
# 3.6 버전 이후 f'', 접두사 f 붙이고 포맷팅
user_name = '손흥민'
user_age = 30
print(f'안녕하세요, 저는 {user_name}입니다. 나이는 {user_age} 입니다.')

안녕하세요, 저는 손흥민입니다. 나이는 30 입니다.

In [26]:
print(f'내년에는 나이가 {user_age+1}살이 됩니다.')

내년에는 나이가 31살이 됩니다.

In [27]:
# 복합 대입 연산
num = 1

In [28]:
num = num + 1 # +가 1번, =이 2번 대입연산이 무조건 마지막 처리임 !!!

In [29]:
print(num)

2

In [30]:
num += 1 # num = num + 1과 같음

In [31]:
print(num)

3

#### 연습문제 1
과목별 점수, 총점, 평균 점수

과목: 국어, 영어, 수학

In [32]:
# 1. 변수 선언, 초기화
kor_score = 100     # 국어점수
eng_score = 70      # 영어점수
math_score = 80     # 수학점수

In [33]:
# 2. 연산: 총점, 평균
sum_score = kor_score + eng_score + math_score
avg_score = sum_score / 3

In [34]:
# 3. 결과 출력
print(f'국어점수: {kor_score}, 영어점수: {eng_score}, 수학점수: {math_score}\n총점: {sum_score}\n평균: {avg_score}')

국어점수: 100, 영어점수: 70, 수학점수: 80
총점: 250
평균: 83.33333333333333

#### 연습문제 2
성별 체크, 나이 체크

성별이 남성이고(and), 성인 판별 (18세 이상)

In [35]:
# 성별이 남자이고 18세 이상의 성인 여부를 판단하는 조건식
# 1. 변수
gender = 'M'    # 성별: 'M' | 'F'
age = 15

# if 조건문
if gender == 'M' and age >= 18:
    print('남성이고 18세 이상의 성인입니다.')
else:
    print('남성이 아니거나 18세 이하 입니다.')

남성이 아니거나 18세 이하 입니다.

In [36]:
# 2. 남성 그리고 성인
check = gender == 'M' and age >= 18
print('성인 남성 체크:', check)

성인 남성 체크: False