### 리스트 2025.06.10

In [37]:
# 리스트: [] => 순서를 가지는 데이터 묶음
# index 값으로 요소들을 참조 => 0 ~ N(요소의 개수)-1
list_a = [1,2,3]
# index   0,1,2
# 요소의 개수: 3

In [38]:
print(list_a, type(list_a))

[1, 2, 3] <class 'list'>

In [39]:
# bool(), int(), float(), str(), list()

In [40]:
# 요소의 참조
list_a[2]

3

In [41]:
# 리스트 값 변경
list_a[2] = 4

In [42]:
list_a

[1, 2, 4]

In [43]:
list_a[0] + list_a[1]

3

In [44]:
list_a[-1] # 문자열 마지막부터

4

In [45]:
len(list_a)-1 # N-1

2

In [46]:
list_a[len(list_a)-1] # 마지막 인덱스를 찾아주는 수식

4

In [47]:
list_b = [1, 2, 3, ['a', 'b', 'c']]
#         0  1  2         3
#       int int int    list

In [48]:
len(list_b)

4

In [49]:
print(list_b[0])
print(list_b[1])
print(list_b[2])
print(list_b[3])  # list
print(list_b[3][0]) # list 안에 list => list의 중첩
print(list_b[3][1])
print(list_b[3][2])
#   list를 가지는 주소값[index]

1
2
3
['a', 'b', 'c']
a
b
c

In [50]:
# 슬라이싱
list_c = [1, 2, 3, 4, 5]

In [51]:
print(list_c[0:4])
print(list_c[:])
print(list_c)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [52]:
# list의 연산: +, *
list_d = [100, 200, 300]

In [53]:
list_c
list_d
print(list_c + list_d)
print(list_d + list_c)

[1, 2, 3, 4, 5, 100, 200, 300]
[100, 200, 300, 1, 2, 3, 4, 5]

In [54]:
# *: 리스트의 요소를 n번 반복
print(list_d * 3)
print(list_c * 2)

[100, 200, 300, 100, 200, 300, 100, 200, 300]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [55]:
# 리스트에 요소(데이터) 추가: 순서 => 마지막 인덱스 다음 데이터 추가
# append(): 메서드 => 리스트의 마지막에 데이터 추가
list_a = [1, 2, 3, 7, 4, 8]

In [56]:
list_a.append(500)
# 객체(list) ()안에 요소를 맨 뒤에 추가함

In [57]:
# pop: 마지막 요소 축출 -> 삭제, 값을 반환
# 기본값은 -1
list_a.pop(0)

1

In [58]:
list_a

[2, 3, 7, 4, 8, 500]

In [59]:
# 정렬
list_a = [1, 2, 3, 7, 4, 8]
list_a.sort()
list_a

[1, 2, 3, 4, 7, 8]

In [60]:
# 반대 정렬
list_a.reverse()
list_a

[8, 7, 4, 3, 2, 1]

In [61]:
# index(): 특정 데이터 위치 찾아줌
list_a.index(2) # 2라는 숫자가 4안댁스에 위치함

4

In [62]:
# extend(): 확장하는 것, '+' 와의 차이 = > extend는 원본 데이터도 변경
# 원본 데이터는 유지하고 싶으면 '+' 활용
list_a.extend(list_d)

In [63]:
list_a

[8, 7, 4, 3, 2, 1, 100, 200, 300]

In [64]:
# tuple: list와 동일
# 단 요소(데이터) 변경은 불가능 -> 데이터 안전하게 유지
t_1 = ()
print(type(t_1))

<class 'tuple'>

In [65]:
t_2 = (1, 2, 3, 4)
t_3 = 10, 20, 30, 40
# 괄호 생략 가능 !

In [66]:
type(t_3)

tuple

In [67]:
t_2[0]

1

In [68]:
t_2[0] = 100
# 에러 발생 <튜플은 할당되지 않음(변경)>

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 튜플 슬라이싱
t_3[1:3]

(20, 30)

In [ ]:
a, b, c = 1000, 2000, 3000 # 특정함수에서 반환 데이터 tuple 타입

In [ ]:
print(a, b, c)

1000 2000 3000

In [ ]:
# 딕셔너리: key : value => key 값으로 데이터를 참조
# {key1 : value1, key2 : value2, ...}

dict_1 = {}
print(type(dict_1))
dict_1

<class 'dict'>

{}

In [ ]:
dict_2 = {1: 'a'}
print(dict_2)
print(type(dict_2))

{1: 'a'}
<class 'dict'>

In [ ]:
# 요소 값 추가 => key 정의, 값 정의
dict_2[2] = 'b'
dict_2

{1: 'a', 2: 'b'}

In [ ]:
dict_2[3] = (1, 2, 3)
dict_2

{1: 'a', 2: 'b', 3: (1, 2, 3)}

In [ ]:
# 값 삭제
del dict_2[3]
dict_2

{1: 'a', 2: 'b'}

In [ ]:
# 학생: 학번, 이름, 학년, 학과 => 데이터의 구조화

student_1 = {
    's_no' : 1111,
    's_name' : 'KING',
    'grade' : 4,
    'major' : 'COM'
}

In [ ]:
student_1['s_name']

'KING'

In [ ]:
player = {
    'team' : 'TOT',
    'name' : 'SON',
    'number' : 7
}

In [ ]:
# key 형식 반환
player.keys()

dict_keys(['team', 'name', 'number'])

In [ ]:
list(player.keys())

['team', 'name', 'number']

In [ ]:
# value 값 반환
player.values()

dict_values(['TOT', 'SON', 7])

In [ ]:
list(player.values())

['TOT', 'SON', 7]

In [ ]:
# player 안에 'name' key 존재 여부"
print('name' in player)
print('names' in player)

True
False

In [ ]:
# 각 각의 요소가 튜플형식으로 반환
player.items()

dict_items([('team', 'TOT'), ('name', 'SON'), ('number', 7)])

In [ ]:
list_temp = list(player.items())

In [ ]:
list_temp

[('team', 'TOT'), ('name', 'SON'), ('number', 7)]

In [ ]:
player['number']

7

In [ ]:
player.get('name')

'SON'

In [ ]:
player.get('pos')
# 값이 없다면 반환하지 않음

In [ ]:
pos = player.get('pos')
print(pos)

None

In [ ]:
pos1 = player.get('pos', 'no pos')

In [ ]:
print(pos1)

no pos

In [ ]:
# set: 집합 => 중복x, 순서x, 집합 연산 사용

s_1 = set([1, 2, 3, 4, 1, 2, 5])
s_1

{1, 2, 3, 4, 5}

In [ ]:
set_2 = set('hello')
set_2

{'e', 'h', 'l', 'o'}

In [ ]:
# 중복되는거 제외하고 리스트로 반환
list_1 = list(s_1)
list_1

[1, 2, 3, 4, 5]

In [ ]:
set_2 = set([1,2,3,4,5,6])
set_3 = set([4,5,6,7,8,9])

In [ ]:
print(set_2 & set_3)
print(set_2 | set_3)
print(set_2 - set_3)
print(set_3 - set_2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}

In [ ]:
# set 에서 데이터 추가(중복 데이터 입력 X) 삭제
set_2.add(3)
set_2   # 3을 이미 가지고 있었기 때문에 입력되지 않음

{1, 2, 3, 4, 5, 6}

In [ ]:
set_2.remove(6)

In [ ]:
set_2.update([1,1,3,4,7,8])
set_2

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
# if: 분기 => ~라면, 아니라면
# 성인이라면, 성인이 아니라면

age = 15

# 성인이라면 -> 환영 메시지, 미성년 -> 킥
if age >=15:
    print('환영합니다~~!')
    print('게임을 시작하세요!')
else:
    print('킥~~')

환영합니다~~!
게임을 시작하세요!

In [ ]:
# 홀수, 짝수 판단 => 숫자 % 2: 1-> 홀수, 0-> 짝수

num = 10
if num % 2 == 0:
    print('짝수')
else:
    print('홀수')

짝수

In [ ]:
# 양수 +, => num1 > 0
# 음수 -,  => num1 < 0
# 0 => num == 0 => num1이 0보다 작지도 크지도 않다

num1 = -10

if num1 > 0:
    print('양수')
elif num1 < 0:
    print('음수')
else:
    print('0')

음수

In [ ]:
print('양수' if num1 > 0 else '음수' if num1 < 0 else '0')

음수

In [ ]:
# 운전면허 시험
score = 70

check_msg = 'PASS' if score >=80 else 'FAIL'
print(check_msg)

FAIL

In [ ]:
# 기본값을 만들고, 바뀌는 형식
check_msg = 'PASS'
if score < 80:
    check_msg = 'FAIL'

print(check_msg)

FAIL

In [ ]:
# 표준 출력 함수 => print()
# 표준 입력 함수 => input()

user_name = input('이름을 입력하세요!')
print(user_name, type(user_name))

ㅇ <class 'str'>

In [ ]:
# 정수형식으로 변환 int
user_age = int(input('나이를 입력하세요!'))
print(user_age, type(user_age), 2025-user_age)

33 <class 'int'> 1992

In [ ]:
age = 43

if age < 15 or age >=65:
    print('무료 예방접종 가능!')
else:
    print('무료 접종 대상이 아닙니다.')

무료 접종 대상이 아닙니다.

In [ ]:
print('무료접종 가능' if age < 15 or age >= 65 else '무료접종 불가')

무료접종 불가

In [ ]:
# 반복문: while condition(True/False): 
# 조건식을 통해서 반복 -> 탈출이 가능해야한다.!

cnt = 0

while cnt < 5:
    cnt += 1
    print(cnt)

1
2
3
4
5

In [ ]:
# 1 ~ 10까지 출력, 홀수만 출력

cnt = 0
while cnt < 10 :
    cnt += 1
    if cnt % 2 == 1:
        print(cnt)

1
3
5
7
9

In [ ]:
cnt = 0
while cnt < 10 :
    cnt += 1
    
    if cnt % 2 == 0:
        continue
    print(cnt)

1
3
5
7
9

In [ ]:
# for문

list_a = [1,2,3,4,5,100,200,300]

for i in list_a:
    print(i)

1
2
3
4
5
100
200
300

In [ ]:
list_b = [(1,2), (3,4), (5,6)]

for n1, n2 in list_b:
    print(n1, n2)

1 2
3 4
5 6

In [ ]:
# 5명의 학생이 영어 시험 => 60점 이상은 pass 출력
# 5명의 영어점수 총점, 평균

scores = [80, 50, 70, 100, 55]
num = 0     # 학생 리스트의 일련번호
sum = 0     # 총점

for score in scores:
    # 학생의 점수를 비교해서: pass, fail
    # 리스트의 일련번호 출력: num = num + 1
    num += 1
    sum += score
    if score >= 60:
        print(num, score, 'PASS')
    else:
        print(num, score, 'Fail')

print('총점:', sum)
print('평균:', sum/len(scores))

1 80 PASS
2 50 Fail
3 70 PASS
4 100 PASS
5 55 Fail
총점: 355
평균: 71.0

In [ ]:
for num in range(3, 8):
    print(num, end='')

34567

In [ ]:
# 구구단: 2 ~ 9단 => 2 ~ 9
# 각 단: X1 ~ X9 => 1 ~ 9

for dan in range(2, 10):
    print(f'{dan}단')
    for i in range(1, 10):
        print(f'{dan}X{i}={dan*i}', end='\n')
    print()

2단
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

3단
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27

4단
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36

5단
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45

6단
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54

7단
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63

8단
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72

9단
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [ ]:
# 리스트 컴프리헨션
# [표현식 for 변수 in list if 조건식]

list_2 = [1,2,3,4]

# 결과 리스트
list_result = []
for num in list_2:
    
    print(list_result)

[3, 6, 9, 12]

In [70]:
list_result_1 = [num*3 for num in list_2]
list_result_1

[3, 6, 9, 12]

#### 문제1

In [79]:
total = 0

for i in range(1,101):
    total += i
print(total)

5050

#### 문제2

In [82]:
total_1 = 1

for i in range(1, 11):
    total_1 *= i
print(total_1)

3628800

#### 문제3

In [105]:
for dan in range(2, 10, 2):
    print(f'{dan}단')
    for i in range(1, dan + 1):
        print(f'{dan}X{i}={dan*i}')
    print()

2단
2X1=2
2X2=4

4단
4X1=4
4X2=8
4X3=12
4X4=16

6단
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36

8단
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64

#### 문제4

In [110]:
num = 1
total_2 = 0

while total_2 <= 1000:
    if num % 2 == 0 or num % 3 == 0:
        total_2 += num
    num += 1

print(f'합이 1000을 넘는 순간: {num - 1}, 총합: {total_2}')

합이 1000을 넘는 순간: 56, 총합: 1055

In [ ]:
num = 1
sum = 0

while True:
    if num % 2 == 0 or num % 3 == 0:
        sum += num
        if sum > 1000:
            num += 1
            break
    print(f'합이 1000을 넘는 순간: {num - 1}, 총합: {total_2}')

#### 검진 대상자 판별 문제

In [115]:
# 검진 대상자 판별
# 20세 이상, 짝수년도에는 짝수 년생들이 대상
# 40세 이상 암 검진 대상
# 올해 년도, 태어난 년도

year = 2025
birth_year = 1985
age = year - birth_year
print(age)

if age >= 20 and birth_year % 2 == year % 2:
    print('검진 대상자 입니다.')
    if age >= 40:
        print('암 검진 대상자 입니다.')
    else:
        print('검진 대상자가 아닙니다.')

40
검진 대상자 입니다.
암 검진 대상자 입니다.

In [120]:
for dan in range(2,10):
    print(f'{dan}단')
    for i in range(1,10):
        print(f'{dan}X{i}={dan*i}')
    print()

2단
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

3단
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27

4단
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36

5단
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45

6단
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54

7단
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63

8단
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72

9단
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81